.blog-component{
  padding: 0 120px;
}
.article-container{
  display: flex;
  padding: 20px;
  background-color:rgba(155, 107, 63, 0.14);
}
.blog-container{
  padding: 0 20px;
}
.article-image{
  width:  500px;
  height: auto;
}
.article-title{
  font-size: 35px;
  color: #D29F55;
  text-align: center;
  
}
.btn-show{
  background: transparent;
  border: none;
  color: #D29F55;
  font-size: 18px;
  text-decoration: underline;
  text-underline-offset: 0.4em;
  cursor: pointer;
  padding: 0 10px;
}